<!DOCTYPE HTML>
<html>
<head>
	 <title>세상의통계 경제사회연구소</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-3">세상의통계 경제사회연구소</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/posts/save" class="nav-link">통계자료 적재</a></li>
        <li class="nav-item"><a href="/" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>