	<meta name="keywords" content="통계, 리서치, 통계지표, 가공통계, 인구, 경제, 사회">
	<meta property="author" content="정용환" />
<!--	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:image" content=""> -->

	<!--<meta property="og:url" content=""> -->
	<meta property="og:site_name" content="데이터펀드 리서치">
	<meta property="og:type" content="website">
	<!--<meta property="og:image" content="">-->

	<!-- Emoji SVG favicon -->
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📓</text></svg>">

	<!-- CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/dashboard.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4 fw-bold">데이터펀드 리서치</span>
      </a>
	  <ul class="nav nav-pills">
	    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	    <li class="nav-item"><a href="/stat/search" class="nav-link">분야별 통계 조회</a></li>
	    <li class="nav-item"><a href="/posts/save" class="nav-link">통계자료 적재</a></li>
	  </ul>
	</header>