<header class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-xl-3 me-0 px-3 fs-4" href="#">분야별 통계 조회</a>
  <button class="navbar-toggler position-absolute d-xl-none collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="d-xl-none pe-5">통계를 선택하세요. &nbsp;&nbsp;&nbsp;</h1>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-xl-3 d-xl-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item fs-3 py-3">
            <a class="nav-link" href="/stat/search">
              개요
            </a>
          </li>
          <li class="nav-item fs-3 py-3">
            <a class="nav-link" href="/population/juminSido">
              시도별 주민등록인구 통계
            </a>
          </li>
          <li class="nav-item fs-3 py-3">
            <a class="nav-link" href="/population/trendSido">
              시도별 인구동향 (출생,사망)
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>