{{>layout/header1}}
	<title>데이터펀드 리서치</title>
	<meta name="description" content="세상의 여러 통계를 수집하고 가공하여 유용한 통계지표 및 가공통계를 제작하고 제공하는 웹사이트입니다.">
	<!-- Open Graph general (Facebook, Pinterest)-->
	<meta property="og:title" content="📓 세상의통계 리서치">
	<meta property="og:description" content="세상의 여러 통계를 수집하고 가공하여 유용한 통계지표 및 가공통계를 제작하고 제공하는 웹사이트입니다.">
{{>layout/header2}}
{{=<% %>=}}
<main class="h-100">
<div class="container p-2" >
	<div>
		<h5>데이터펀드 리서치에 오신것을 환영합니다.</h5>
		<br/>
		<p> - 경제 사회 문화 등 여러분야 각종 통계지표 및 가공통계를 제작하고 제공하는 웹사이트입니다.</p>
	</div>
</div>
</main>
<%={{ }}=%>
{{>layout/common-lib}}
<script src="/js/app/index.js"></script>

{{>layout/footer}}