{{>layout/header}}
    <h1>호수 사회문화경제연구소</h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">
                인구동향 적재
            </a>
        </div>
    </div>
{{>layout/footer}}