{{>layout/header}}
{{=<% %>=}}
<div class="container-fluid text-bg-light p-5">
	<div class="row mb-3">
		<div class="col-3">
			<div class="d-grid btn-block">
	        	<a href="/" role="button" class="btn btn-secondary btn-lg">홈</a>
	        </div>
		</div>
	</div>	
	<div class="row mb-3">
	    <div class="col-12">
            <div class="form-group">
                <label for="sel1" class="form-label">적재대상 통계를 선택하세요</label>
			    <select style="width:500px;" class="form-select mb-3" id="selStatic">
			      <option value='loadStatPopulationTrendSido' data-adjustmonth='-3' >월별 인구동향</option>
			      <option value='loadStatPopulationMoveSido' data-adjustmonth='-2' >월별 인구이동</option>
			    </select>
			    <div class="d-flex align-items-center">
	                <label class="form-label mb-3 me-3" for="title">시작년월~종료년월:</label>	                
	                <input style="width:140px;" type="month" class="form-control mb-3 me-3" 
	                id="startYyyymm" placeholder="시작년월(yyyymm)을 입력하세요">
	                <p class="me-3"> ~ </p>
	                <input style="width:140px;" type="month" class="form-control mb-3 me-3" 
	                id="endYyyymm" placeholder="종료년월(yyyymm)을 입력하세요">
	                <div id="loadingbar" class="spinner-border align-items-center" style="display:none;"></div>
                </div>
                
            </div>
	    </div>
	</div>
	<div class="row mb-3">
		<div class="col-3">
			<div class="d-grid btn-block">
	        	<button type="button" class="btn btn-primary btn-lg" id="btn-save1">적재</button>
	        </div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<table id="dataGrid" class="table">
				<thead class="table-success">
					<tr>
						<th class="text-center">통계명</th>
						<th class="text-center">적재시작년월</th>
						<th class="text-center">적재최종년월</th>
						<th class="text-center">총데이터건수</th>
					</tr>
				</thead>
				<tbody id="target">
				</tbody>
				<script id="mp_template" type="x-tmpl-mustache">
					{{#data}}
					<tr>
				    	<td>{{statName}}</td>
				   		<td class="text-center">{{startYyyymm}}</td>
				   		<td class="text-center">{{endYyyymm}}</td>
				   		<td class="text-end">{{totalCnt}}</td>
			    	</tr>
					{{/data}}
				</script>				    				
			</table>
		</div>
	</div>
	
	
</div>
<%={{ }}=%>
{{>layout/common-lib}}
<script src="/js/app/posts-save.js"></script>
{{>layout/footer}}