{{>layout/header1}}
	<title>월별 통계자료 적재|데이터펀드 리서치</title>
	<meta name="description" content="경제 사회 문화 등 여러분야 각종 통계지표 및 가공통계를 제작하고 제공하는 웹사이트입니다.">
	<!-- Open Graph general (Facebook, Pinterest)-->
	<meta property="og:title" content="통계자료 적재">
	<meta property="og:description" content="경제 사회 문화 등 여러분야 각종 통계지표 및 가공통계를 제작하고 제공하는 웹사이트입니다.">
{{>layout/header2}}
{{=<% %>=}}
<main>
<div class="container p-1">
	<h5 class="mb-3">월별 통계자료 적재</h5>
	<div class="row">
	    <div class="col-12">
            <div class="form-group">
                <label for="selStatic" class="form-label">적재대상 통계를 선택하세요</label>
			    <select class="form-select mb-3" id="selStatic">
			      <option value='loadStatPopulationTrendSido' data-category='population' data-adjustmonth='-2' >시도별 월별 인구동향</option>
			      <option value='loadStatPopulationMoveSido' data-category='population' data-adjustmonth='-1' >시도별 월별 인구이동</option>
			      <option value='loadStatPopulationEconActiveSido' data-category='population' data-adjustmonth='-1' >행정구역(시도)별 경제활동인구</option>
			      <option value='loadStatPopulationEconActiveAdjst' data-category='population' data-adjustmonth='-1' >계절조정 경제활동인구 총괄</option>
			      <option value='loadStatCpi' data-category='price' data-adjustmonth='-1' >생활물가지수(2020＝100)</option>
			      <option value='loadStatCpiFluctuation' data-category='price' data-adjustmonth='-1' >월별 소비자물가 등락률</option>
			      <option value='loadStatPpiTotal' data-category='price' data-adjustmonth='-1' >생산자물가지수(기본분류)</option>
			      <option value='loadEconGeneralIndex' data-category='economy' data-adjustmonth='-1' >경기종합지수(2015=100) (10차)</option>
			      <option value='loadStatTradeSummary' data-category='balance' data-adjustmonth='-1' >수출입총괄</option>
			      <option value='loadStatInternationalBalance' data-category='balance' data-adjustmonth='-2' >국제수지</option>
			      <option value='loadStatApartSalesPriceIndex' data-category='realestate' data-adjustmonth='-1' >유형별 매매가격지수</option>
			      <option value='loadStatUnsoldHousingSigungu' data-category='realestate' data-adjustmonth='-1' >시군구별 미분양현황</option>
			      <option value='loadStatBadUnsoldHousing' data-category='realestate' data-adjustmonth='-1' >공사완료후 미분양현황</option>
			    </select>
			    <label class="form-label" for="YyyymmDiv">조회년월을 선택하세요</label>
			    <div class="d-flex align-items-center mb-3" id="YyyymmDiv">
	                <input type="month" class="form-control"
	                id="startYyyymm" placeholder="시작년월(yyyymm)을 입력하세요">
	                <p class="px-2"> ~ </p>
	                <input type="month" class="form-control"
	                id="endYyyymm" placeholder="종료년월(yyyymm)을 입력하세요">
	                <div id="loadingbar" class="spinner-border align-items-center" style="display:none;"></div>
                </div>

            </div>
	    </div>
	</div>
	<div class="row mb-3">
		<div class="col-3">
			<div class="d-grid btn-block">
	        	<button type="button" class="btn btn-primary" id="btn-save1">적재</button>
	        </div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<table id="dataGrid" class="table table-striped table-sm">
				<thead class="table-success fw-bold">
					<tr>
						<th class="text-center">통계명</th>
						<th class="text-center">시작</th>
						<th class="text-center">최종</th>
						<th class="text-center">총건수</th>
					</tr>
				</thead>
				<tbody id="target">
				</tbody>
				<script id="mp_template" type="x-tmpl-mustache">
					{{#data}}
					<tr>
				    	<td>{{statName}}</td>
				   		<td class="text-center">{{startYyyymm}}</td>
				   		<td class="text-center">{{endYyyymm}}</td>
				   		<td class="text-end">{{totalCnt}}</td>
			    	</tr>
					{{/data}}
				</script>
			</table>
		</div>
	</div>
</div>
</main>
<%={{ }}=%>
{{>layout/common-lib}}
<script src="/js/app/posts-save.js"></script>
{{>layout/footer}}