{{>layout/header1}}
	<title>분야별 통계 조회|데이터펀드 리서치</title>
	<meta name="description" content="분야별 통계를 조회합니다. - 각종 통계 지표와 가공통계들이 모여있는 공간입니다.">
	<!-- Open Graph general (Facebook, Pinterest)-->
	<meta property="og:title" content="분야별 통계 조회|데이터펀드 리서치">
	<meta property="og:description" content="분야별 통계를 조회합니다. - 각종 통계 지표와 가공통계들이 모여있는 공간입니다.">
{{>layout/header2}}
{{>layout/stat-search-sidebar}}
{{=<% %>=}}
<main class="col-xl-10 ms-sm-auto px-md-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<div class="m-2">
		<h5>분야별 통계를 조회합니다.</h5>
		<br/>
		<p> - 각종 통계 지표와 가공통계들이 모여있는 공간입니다.</p>
	</div>
</div>
</main>
<%={{ }}=%>
{{>layout/common-lib}}
<script src="/js/app/stat-search.js"></script>
{{>layout/footer}}