<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.StatPriceMapper">

    <insert id="insertStatCpiForLiving" parameterType="java.util.HashMap" >
    INSERT INTO STAT_CPI_FOR_LIVING
    (
    YYYYMM
    ,CPI_RATE
    ,LIVING_CPI_RATE
    ,FOOD_RATE
    ,EXCLUDING_FOOD_RATE
    ,RENT_RATE
    ,EXCLUDING_LIVING_RATE
    ,LIVING_WITH_RENT_RATE
    ,CREATE_TIME
    ,CREATE_USER
    )
     VALUES (
    #{YYYYMM}
    , #{CPI_RATE}
    , #{LIVING_CPI_RATE}
    , #{FOOD_RATE}
    , #{EXCLUDING_FOOD_RATE}
    , #{RENT_RATE}
    , #{EXCLUDING_LIVING_RATE}
    , #{LIVING_WITH_RENT_RATE}
    , now()
    , 'system'
    )
    </insert>

    <select id="selectExistChkStatCpiForLiving" parameterType="String" resultType="int">
        SELECT COUNT(*) CNT
          FROM STAT_CPI_FOR_LIVING A
        WHERE A.YYYYMM = #{yyyymm}
    </select>

    <delete id="deleteStatCpiForLiving" parameterType="String" >
        DELETE
          FROM STAT_CPI_FOR_LIVING
        WHERE YYYYMM = #{yyyymm}
    </delete>

    <insert id="insertStatCpiFluctuation" parameterType="java.util.HashMap" >
    INSERT INTO STAT_CPI_FLUCTUATION
    (
    YYYYMM
    ,CHANGE_MONTH_CPI_RATE
    ,CHANGE_YEAR_CPI_RATE
    ,CHANGE_PERIOD_CPI_RATE
    ,CHANGE_MONTH_LIVING_CPI_RATE
    ,CHANGE_YEAR_LIVING_CPI_RATE
    ,CHANGE_PERIOD_LIVING_CPI_RATE
    ,CHANGE_MONTH_FOOD_RATE
    ,CHANGE_YEAR_FOOD_RATE
    ,CHANGE_PERIOD_FOOD_RATE
    ,CHANGE_MONTH_NON_AGRI_OILS_RATE
    ,CHANGE_YEAR_NON_AGRI_OILS_RATE
    ,CHANGE_PERIOD_NON_AGRI_OILS_RATE
    ,CHANGE_MONTH_NON_FOOD_ENERGY_RATE
    ,CHANGE_YEAR_NON_FOOD_ENERGY_RATE
    ,CHANGE_PERIOD_NON_FOOD_ENERGY_RATE
    ,CREATE_TIME
    ,CREATE_USER
    )
     VALUES (
    #{YYYYMM}
    , #{CHANGE_MONTH_CPI_RATE}
    , #{CHANGE_YEAR_CPI_RATE}
    , #{CHANGE_PERIOD_CPI_RATE}
    , #{CHANGE_MONTH_LIVING_CPI_RATE}
    , #{CHANGE_YEAR_LIVING_CPI_RATE}
    , #{CHANGE_PERIOD_LIVING_CPI_RATE}
    , #{CHANGE_MONTH_FOOD_RATE}
    , #{CHANGE_YEAR_FOOD_RATE}
    , #{CHANGE_PERIOD_FOOD_RATE}
    , #{CHANGE_MONTH_NON_AGRI_OILS_RATE}
    , #{CHANGE_YEAR_NON_AGRI_OILS_RATE}
    , #{CHANGE_PERIOD_NON_AGRI_OILS_RATE}
    , #{CHANGE_MONTH_NON_FOOD_ENERGY_RATE}
    , #{CHANGE_YEAR_NON_FOOD_ENERGY_RATE}
    , #{CHANGE_PERIOD_NON_FOOD_ENERGY_RATE}
    , now()
    , 'system'
    )
    </insert>

    <select id="selectExistChkStatCpiFluctuation" parameterType="String" resultType="int">
        SELECT COUNT(*) CNT
          FROM STAT_CPI_FLUCTUATION A
        WHERE A.YYYYMM = #{yyyymm}
    </select>

    <delete id="deleteStatCpiFluctuation" parameterType="String" >
        DELETE
          FROM STAT_CPI_FLUCTUATION
        WHERE YYYYMM = #{yyyymm}
    </delete>

    <insert id="insertStatPpiTotal" parameterType="java.util.HashMap" >
    INSERT INTO STAT_PPI_TOTAL
    (
    YYYYMM
    ,PPI_RATE
    ,CREATE_TIME
    ,CREATE_USER
    )
     VALUES (
    #{YYYYMM}
    , #{PPI_RATE}
    , now()
    , 'system'
    )
    </insert>

    <select id="selectExistChkStatPpiTotal" parameterType="String" resultType="int">
        SELECT COUNT(*) CNT
          FROM STAT_PPI_TOTAL A
        WHERE A.YYYYMM = #{yyyymm}
    </select>

    <delete id="deleteStatStatPpiTotal" parameterType="String" >
        DELETE
          FROM STAT_PPI_TOTAL
        WHERE YYYYMM = #{yyyymm}
    </delete>


</mapper>